<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="DetailPatient">
	<div id="editPatientModal" style="" class="modal fade bs-example-modal-lg"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog" style="width: 650px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel_patient"></h4>
				</div>
				<div class="modal-body" style="overflow: auto;">
					<div style="width: 600px; margin: 0 auto; margin-top: 15px">
						<form class="form-horizontal col-sm-12" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label">
									姓名
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.name" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">
									手机号
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.shoujihao" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">
									身份证号
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.shenfenzhenghaoma" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">
									性别
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.xingbie" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">
									主要症状
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.zhuyaozhengzhuang" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">
									年龄
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.age" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">
									联系地址
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="patient.lianxidizhi" readonly="readonly">
								</div>
							</div>
							

							<div class="form-group">
								<div class="col-sm-12" style="text-align: center;">
									<input type="button" class="btn btn-default" value="返 回" data-dismiss="modal">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<!-- /.modal -->
	</div>
</div>
</html>