<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public::head('信息查询')">

</head>
<body>

<div class="container-fluid">

    <input type="hidden" th:value="${AdminID}" id="adminid">
    <input type="hidden" th:value="${DeptID}" id="deptid">
    <!-- 内容 -->
    <div id="Xinxichaxun" class="main">


        <div class="primary-title">
            信息查询<!--<span class="btn btn-success" style="float: right; margin-right: 15px; margin-top: 10px;" @click="toAdd()">新增</span>-->
        </div>
        <div class="primary-content" >
            <div id="searchpart" >
                <table class="table table-bordered" style="margin-bottom:10px;">
                    <tbody>
                    <tr>
                        <th class="right middle" >
                            单位名称
                        </th>
                        <td class="center middle" >
                            <input class="form-control" type="text" v-model="s_danweimingcheng"/>
                        </td>
                        <th class="right middle" >
                            项目名称
                        </th>
                        <td class="center middle" >
                            <input class="form-control" type="text" v-model="s_xiangmumingcheng"/>
                        </td>
                        <td class="center middle"  rowspan="4">
                            <button class="btn btn-primary btn-lg" @click="bindXiangmuList();">搜 索</button>

                        </td>

                    </tr>
                    <tr>
                        <th class="right middle" >
                            建设计划文号
                        </th>
                        <td class="center middle" >
                            <input class="form-control" type="text" v-model="s_jihuawenhao"/>
                        </td>
                        <th class="right middle" >
                            经费预算文号
                        </th>
                        <td class="center middle" >
                            <input class="form-control" type="text" v-model="s_yusuanwenhao"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="right middle" >
                            经费科目
                        </th>
                        <td class="center middle" >
                            <input class="form-control" type="text" v-model="s_jingfeikemu"/>
                        </td>
                        <th class="right middle" >
                            项目状态
                        </th>
                        <td class="center middle" >
                            <select class="input form-control" v-model="s_xiangmuzhuangtaiid"  >
                                <option value=''>--请选择--</option>
                                <option v-for="xiangmuzhuangtaiitem in xiangmuzhuangtailist"
                                        :value="xiangmuzhuangtaiitem.id" v-text="xiangmuzhuangtaiitem.text"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="right middle" >
                            竣工结算状态
                        </th>
                        <td class="center middle" >
                            <select class="input form-control" v-model="s_jungongzhuangtaiid"  >
                                <option value=''>--请选择--</option>
                                <option v-for="jiesuanzhuangtaiitem in jiesuanzhuangtailist"
                                        :value="jiesuanzhuangtaiitem.id" v-text="jiesuanzhuangtaiitem.text"></option>
                            </select>
                        </td>
                        <th class="right middle" >
                            竣工决算情况
                        </th>
                        <td class="center middle" >
                            <select class="input form-control" v-model="s_jiesuanqingkuangid"  >
                                <option value=''>--请选择--</option>
                                <option v-for="jiesuanqingkuangitem in jiesuanqingkuanglist"
                                        :value="jiesuanqingkuangitem.id" v-text="jiesuanqingkuangitem.text"></option>
                            </select>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="searchresult" class="primary-content">
            <a target="_blank" class='btn btn-primary'
               style='float:right;margin-right:15px;width:120px;height:34px;color:#fff !important;'
               :href="'/exportexcel/exportxiangmu?xiangmumingcheng='+s_xiangmumingcheng+'&danweimingcheng='+s_danweimingcheng+'&jihuawenhao='+s_jihuawenhao+'&yusuanwenhao='+s_yusuanwenhao+'&jingfeikemu='+s_jingfeikemu+'&xiangmuzhuangtaiid='+s_xiangmuzhuangtaiid+'&jungongzhuangtaiid='+s_jungongzhuangtaiid+'&jiesuanqingkuangid='+s_jiesuanqingkuangid+'&pageindex='+m1+'&pagesize='+m2">导出</a>

            <table class="table table-hover table-striped" >
                <thead>
                <th style="text-align:center;vertical-align:middle;width: 150px;">序号</th>
                <th style="text-align:center;vertical-align:middle;width: 150px;">单位名称</th>
                <th style="text-align:center;vertical-align:middle;width: 150px;">项目名称</th>
                <th style="text-align:center;vertical-align:middle;width: 150px;">建设计划文号</th>
                <th style="text-align:center;vertical-align:middle;width: 150px;">经费预算文号</th>
                <th style="text-align:center;vertical-align:middle;width: 150px;">经费科目</th>
                </thead>
                <tbody>
                <tr v-for="(searchxiangmuitem,index) in searchxiangmulist">
                    <td style="text-align:center;vertical-align:middle;" v-text="index+1+(pageIndex-1)*pageSize"></td>
                    <td style="text-align:center;vertical-align:middle;" v-text="searchxiangmuitem.deptname"></td>
                    <td style="text-align:center;vertical-align:middle;" v-text="searchxiangmuitem.xiangmuname"></td>
                    <td style="text-align:center;vertical-align:middle;" v-text="searchxiangmuitem.xiangmupifu"></td>
                    <td style="text-align:center;vertical-align:middle;" v-text="searchxiangmuitem.jingfeixiadaqingkuang"></td>
                    <td style="text-align:center;vertical-align:middle;" v-text="searchxiangmuitem.jingfeikemu"></td>

                </tr>
                </tbody>
            </table>

            <div class="my-page-navigation">
                <button class="btn btn-default" v-on:click="SetPageIndex">首页</button>
                <button class="btn btn-default" v-on:click="SetPageIndexPrePage">上一页</button>
                <span v-text="pageIndex + '  /  ' + pageCount"></span>
                <span v-text="'共' + recordCount + '条'"></span>
                <button class="btn btn-default" v-on:click="SetPageIndexNextPage">下一页</button>
                <button class="btn btn-default" v-on:click="SetPageEnd">尾页</button>
                <span>跳到第</span>
                <input type="text" class="form-control" style="width: 80px;display:inline-block;"  v-model="inputPageIndexValue" v-on:keyup.enter="JumpPage">
                <span>页</span>
                <button class="btn btn-default" v-on:click="JumpPage">跳</button>
            </div>
        </div>





    </div>


</div>


</body>
<script src="../js/xinxichaxun/xinxichaxun_list.js?ver=1.2"></script>
<link href="../css/main.css?ver=1.1" rel="stylesheet" type="text/css"></link>
<link href="../css/dashboard.css?ver=1.1" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="/css/xadmin.css?ver=0.6">
</html>