<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public::head('专家排班管理')">
	
</head>
<body>

<div class="container-fluid">
	<div class="row">

	<!-- 内容 -->
	<div id="Paiban" class="main" >
	
	<div style="width:100%;height:100px;">
		
		<div class="form-horizontal col-sm-12">
			<div class="form-group">
				<label class="col-sm-1 control-label">
					专家姓名
				</label>
				<div class="col-sm-5">
					<input id="name" v-model="name" class="form-control"  type="text"  style="margin-left:10px;float:left;background-color:#fff;"  />	
				</div>
				<label class="col-sm-1 control-label">
					排班日期
				</label>
				<div class="col-sm-5">
					<input id="paibanriqi" v-model="paibanriqi" class="form-control"  type="text"  style="margin-left:10px;float:left;background-color:#fff;" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" v-on:blur="getDate2()"  />	
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-7 control-label">
				</label>
				<div class="col-sm-5">
					<button style="float:right;margin-right:10px;" class="btn btn-info" @click="bindPaibanList()">搜 索</button>
					<button style="float:right;margin-right:10px;" class="btn btn-danger" @click="toRemove()">清 除</button>
				</div>
			</div>
		</div>
	
	</div>

	
	<div style="margin:0 auto;margin-top:20px;float:left;">
		<button style="float:left;margin-left:10px;" class="btn btn-danger" @click="toDeleteChecked()">批量删除</button>
		<button style="float:right;margin-left:40px;" class="btn btn-info" @click="perparetoAddPaiban()">新增排班</button>
    </div>
		
	<div class="table-responsive" style="overflow:inherit;margin-top:40px;">
		
			<!-- 列表 -->
		<table class="table table-hover table-striped" style="margin:0 auto;margin-top:40px;font-size:18px;">
			<thead>
				<th style="text-align:center;vertical-align:middle;width: 80px;"><input style="zoom:150%; ;" type="checkbox" name="paibanAllCheckbox"  @click="allCheckPaiban()" value="" id="allCheckPaiban"></th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">专家姓名</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">排班日期</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">排班时间</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">预约人数</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">操作</th>
			</thead>
			<tbody>
				<tr v-for="(paibanitem,index) in paibanlist" v-if="paibanlist!=null">
					<td style="text-align:center;vertical-align:middle;"><input style="zoom:150%; ;" type="checkbox" name="paibanCheckbox" :value="paibanitem.paibanid" ></td>
					<td style="text-align:center;vertical-align:middle;" v-text="paibanitem.name"></td>
					<td style="text-align:center;vertical-align:middle;" v-text="paibanitem.paibanriqi"></td>
					<td style="text-align:center;vertical-align:middle;" v-text="paibanitem.shangxiawu"></td>
					<td style="text-align:center;vertical-align:middle;" v-text="paibanitem.xianhaoshu"></td>
					<td style="text-align:center;vertical-align:middle;">
						<button class="btn btn-danger" @click="toDelete(paibanitem.paibanid)">删 除</button>
						<button class="btn btn-info" @click="perpareToModifyPaiban(paibanitem.paibanid)">编 辑</button>
					</td>
					
				</tr>
				<tr v-if="paibanlist.length==0">
						<td colspan="6" style="text-align:center;">暂无排班信息</td>
				</tr>
				
				
			</tbody>
		</table>
	    <div th:replace="pc/paibanguanli/edit_paiban::EditPaiban"></div>
			

		</div>
	</div>
	
	</div>
</div>

</body>

<script src="../js/pc/paiban/main_paiban.js?ver=1.7"></script>
<link href="../css/main.css?ver=1.0" rel="stylesheet" type="text/css"></link>
<link href="../css/dashboard.css?ver=1.1" rel="stylesheet" type="text/css"></link>

<link rel="stylesheet" href="/css/xadmin.css?ver=0.6">
    

</html>