<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public::head('账户列表')">
	
</head>
<body>

<div class="container-fluid">
	<div class="row">
	
	<!-- 内容 -->
	<div id="Administrator" class="main">
	<div style="height:75px;border: 1px solid #ccc;border-radius: 4px;display:none;">
			<div style="margin:0 auto;margin-top:10px;float:left;font-size: 20px; line-height: 50px;">
				账户名：
			</div>

			<div style="width:240px;margin:0 auto;margin-top:20px;float:left;">
				<input id="zhanghao" v-model="zhanghao" class="form-control"  type="text"  style="margin-left:10px;float:left;background-color:#fff;width:200px;"  />	
			</div>
			
			
			
			<div style="width:140px;margin:0 auto;margin-top:20px;float:right;">
				<button style="float:left;margin-right:10px;" class="btn btn-danger" @click="toRemove()">清 除</button>
				<button style="float:right;margin-right:10px;" class="btn btn-info" @click="bindRoleList()">搜 索</button>
			</div>
	</div>
	
	<div style="margin:0 auto;margin-top:20px;float:left;">
		<button style="float:left;margin-left:10px;" class="btn btn-danger" @click="toDeleteChecked()">批量删除</button>
		<button style="float:right;margin-left:40px;" class="btn btn-info" @click="perparetoAddAdministrator()">新增账户</button>
    </div>
		
	<div class="table-responsive" style="overflow:inherit;margin-top:40px;">
		
			<!-- 列表 -->
		<table class="table table-hover table-striped" style="margin:0 auto;margin-top:40px;font-size:18px;">
			<thead>
				<th style="text-align:center;vertical-align:middle;width: 80px;"><input style="zoom:150%; ;" type="checkbox" name="administratorAllCheckbox"  @click="allCheckAdministrator()" value="" id="allCheckAdministrator"></th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">账户名</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">角色</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">备注</th>
				<th style="text-align:center;vertical-align:middle;width: 150px;">操作</th>
			</thead>
			<tbody>
				<tr v-for="(administratoritem,index) in administratorlist" v-if="rolelist!=null">
					<td style="text-align:center;vertical-align:middle;"><input style="zoom:150%; ;" type="checkbox" name="administratorCheckbox" :value="administratoritem.administratorid" ></td>
					<td style="text-align:center;vertical-align:middle;" v-text="administratoritem.zhanghao"></td>
					<td style="text-align:center;vertical-align:middle;" v-text="administratoritem.rolename"></td>
					<td style="text-align:center;vertical-align:middle;" v-text="administratoritem.beizhu"></td>
					<td style="text-align:center;vertical-align:middle;">
						<button class="btn btn-danger" @click="toDelete(administratoritem.administratorid)">删 除</button>
						<button class="btn btn-info" @click="perpareToModifyAdministrator(administratoritem.administratorid)">编 辑</button>
					</td>
					
				</tr>
				<tr v-if="administratorlist.length==0">
						<td colspan="5" style="text-align:center;">暂无账户信息</td>
				</tr>
				
				
			</tbody>
		</table>
	    <div th:replace="pc/administrator/edit_administrator::EditAdministrator"></div> 
			

		</div>
	</div>
	
	</div>
</div>

</body>

<script src="../js/pc/administrator/main_administrator.js?ver=1.2"></script>
<link href="../css/main.css?ver=1.0" rel="stylesheet" type="text/css"></link>
<link href="../css/dashboard.css?ver=1.1" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="/css/xadmin.css?ver=0.6">

    

</html>