<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!-- 栏目编辑 -->
<div id="EditPart_InfoCategory" style="width:600px;height:500px;float:left;padding-top:20px;display: none;">
	<div style="width:400px;height:250px;margin:0 auto;">
	<form class="form-horizontal col-sm-12" role="form">
		<div class="form-group">
			<label class="col-sm-4 control-label"><span class="required">*</span>栏目名称</label>
			<div class="col-sm-8">
				<input type="text" class="form-control"
					id="categoryname_infocategory">
			</div>
		</div>
 		<div class="form-group">
			<label class="col-sm-4 control-label">栏目图片</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="imageurl2">
				<div id="filelist2"></div>
				<div id="container">
					<input type="button" id="pickfiles2" value="上传" /> <span
						onclick="ViewImage2();"
						style="font-size: 14px; font-family: 微软雅黑; cursor: pointer;">点击查看</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label"><span class="required">*</span>栏目分值</label>
			<div class="col-sm-8">
				<input type="text" class="form-control"
					id="score_infocategory" onkeyup="if(isNaN(value))execCommand('undo')">
			</div>
		</div>
		<div class="form-group" id="movediv_infocategory">
			<label class="col-sm-4 control-label">排序</label>
			<div class="col-sm-8">
				<div style="line-height:34px;" id="move_infocategory"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">允许投稿</label>
			<div style="line-height:34px;height:34px;" class="col-sm-8">
				<input type="checkbox" id="allowtougao_infocategory"/>
			</div>
		</div>
		<div class="form-group" id="isvaliddiv_infocategory">
			<label class="col-sm-4 control-label">是否有效</label>
			<div style="line-height:34px;height:34px;" class="col-sm-8">
				<input type="checkbox" id="isvalid_infocategory"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">备注</label>
			<div class="col-sm-8">
				<input type="text" class="form-control"
					id="beizhu_infocategory">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12" style="text-align: center;">
				<input type="button" id="SaveButton_infocategory"
					class="btn btn-info" value="保存" />
			</div>
		</div>
	</form>
	</div>
</div>