<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<ul class="nav nav-pills" role="tablist" style="float:left;height:50px;line-height:30px;" id="Menu">
	<li role="presentation" class="" onclick="SelectCurrentOfActionType('1');"><a href="#">［修改栏目］</a></li>
	<li role="presentation" class="" onclick="SelectCurrentOfActionType('2');"><a href="#">［添加下级栏目］</a></li>
	<!--  <li role="presentation" class="" onclick="SelectCurrentOfActionType('3');"><a href="#">［删除栏目］</a></li>-->
	<li role="presentation" class="" onclick="SelectCurrentOfActionType('4');"><a href="#">［信息列表］</a></li>
	<li role="presentation" class="" onclick="SelectCurrentOfActionType('5');"><a href="#">［添加信息］</a></li>
</ul>