<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<script type="text/javascript" src="../js/dtree/dtree.js"></script>
<link type="text/css" rel="stylesheet" href="../js/dtree/dtree.css" />
<style>
.dtreeTop {
	background-color:#D9EDF7;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #000;
	font-weight: bold;
}
</style>
<div class="dtreeTop">
	<span>栏目及信息管理</span>
</div>
<div id="Tree_InfoCategory" class="TreeInfoCategory" style="overflow: auto; background-color: #fff; width: 100%; min-height: 465px;"></div>
