
.body_upload{
	margin-bottom:30px;
	width:100%;
}

.button_container{
	margin-left:15px;
	margin-top:10px;
	width: 120px;
	text-align: center;
}

.bottom_upload{
	margin:0px auto;
	width:540px;
	height:40px;
	line-height:40px;
	text-align: center;
}

.Button_upload{
	cursor: pointer;
	font-size:16px;
	text-align: center;
	width:100px;
	margin-left:15px;
}

.fujian_div a{
	width:80%;
	font-size:18px;
	margin-bottom:10px;
}

.fujian_div span{
	cursor: pointer;
	color:red;
	font-size:18px;
}