<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>精英团队</title>
</head>
<body style="background-color:#fff;">
	<div class="container" id="jingyingtuandui">
		
		<input type="hidden" th:value="${UserType}" id="usertype">
		<input type="hidden" th:value="${UserId}" id="userid">
	
		<div class="top">
			精英团队
		</div>
		
		<div style="width:100%;margin-top:200px;overflow-y:auto;" class="listPart">
		
			<div style="width:95%;margin:0 auto;">
				
				<a href="/homepage/infolist.html?categoryid=6cb19d6c-2dfa-4259-a1c8-2b5a3dfc219e">
				<div style="margin-top:20px;border: 1px solid #bbb;border-radius: 15px;background-color:#f5fffc;" class="weui-form-preview">
	            	<div class="weui-form-preview__bd">
		                <div class="weui-form-preview__item">
		                    <label class="weui-form-preview__label" style="padding-left:50px;font-size:50px;color:#00baad;font-weight:bolder;">著名专家</label>
	                    	<label class="weui-form-preview__label" style="min-width:60px !important;float:right;font-size:50px;color:#00baad;font-weight:bolder;">>></label>
	                    </div>
	            	</div>
		        </div>
		        </a>
		        
				<a href="/homepage/infolist.html?categoryid=1558612c-fc92-404f-a957-13c99d92f7df">
		        <div style="margin-top:20px;border: 1px solid #bbb;border-radius: 15px;background-color:#f5fffc;" class="weui-form-preview">
	            	<div class="weui-form-preview__bd">
		                <div class="weui-form-preview__item">
		                    <label class="weui-form-preview__label" style="padding-left:50px;font-size:50px;color:#00baad;font-weight:bolder;">权威专家</label>
	                    	<label class="weui-form-preview__label" style="min-width:60px !important;float:right;font-size:50px;color:#00baad;font-weight:bolder;">>></label>
	                    </div>
	            	</div>
		        </div>
		        </a>
		        
				<a href="/homepage/infolist.html?categoryid=45023eaa-767a-409e-bb8e-a6a9a9ca382e">
		        <div style="margin-top:20px;border: 1px solid #bbb;border-radius: 15px;background-color:#f5fffc;" class="weui-form-preview">
	            	<div class="weui-form-preview__bd">
		                <div class="weui-form-preview__item">
		                    <label class="weui-form-preview__label" style="padding-left:50px;font-size:50px;color:#00baad;font-weight:bolder;">博士后团队</label>
	                    	<label class="weui-form-preview__label" style="min-width:60px !important;float:right;font-size:50px;color:#00baad;font-weight:bolder;">>></label>
	                    </div>
	            	</div>
		        </div>
		        </a>
		        
				<a href="/homepage/infolist.html?categoryid=30866cfa-c1ea-4fde-bfb2-03a7af2f1db5">
		        <div style="margin-top:20px;border: 1px solid #bbb;border-radius: 15px;background-color:#f5fffc;" class="weui-form-preview">
	            	<div class="weui-form-preview__bd">
		                <div class="weui-form-preview__item">
		                    <label class="weui-form-preview__label" style="padding-left:50px;font-size:50px;color:#00baad;font-weight:bolder;">医生团队</label>
	                    	<label class="weui-form-preview__label" style="min-width:60px !important;float:right;font-size:50px;color:#00baad;font-weight:bolder;">>></label>
	                    </div>
	            	</div>
		        </div>
		        </a>
		        
				<a href="/homepage/infolist.html?categoryid=9efe3759-5791-4fee-a11f-1335ad138162">
		        <div style="margin-top:20px;border: 1px solid #bbb;border-radius: 15px;background-color:#f5fffc;" class="weui-form-preview">
	            	<div class="weui-form-preview__bd">
		                <div class="weui-form-preview__item">
		                    <label class="weui-form-preview__label" style="padding-left:50px;font-size:50px;color:#00baad;font-weight:bolder;">护理团队</label>
	                    	<label class="weui-form-preview__label" style="min-width:60px !important;float:right;font-size:50px;color:#00baad;font-weight:bolder;">>></label>
	                    </div>
	            	</div>
		        </div>
		        </a>
				
			</div>
		</div>
	</div>
</body>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/vue.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/vue-resource.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/layer/layer.js"></script>
<link rel="stylesheet" href="../../css/weui.css"/>
<link href="../../css/phone/homepage.css?ver=1.7" rel="stylesheet" type="text/css"></link>

</html>