<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的消息</title>
</head>
<body style="background-color: #fff;">
	<div class="container" id="wodexiaoxi" style="overflow-y: auto;">

		<input type="hidden" th:value="${UserType}" id="usertype"> <input
			type="hidden" th:value="${UserId}" id="userid">

		<div class="top">我的消息</div>

		<div style="width: 100%;margin-top:200px;" class="listPart">

			<div style="width: 95%; margin: 0 auto;">

				<div style="margin-top: 10px; border-bottom: 1px solid #555;"
					class="weui-form-preview" v-for="xiaoxiitem in wodexiaoxilist">

					<div
						v-if="xiaoxiitem.type=='guahao'&&(xiaoxiitem.shenhejieguo=='0'||xiaoxiitem.shenhejieguo=='3')">
						<a
							:href='"../../homepage/wodexiaoxi_edit.html?id="+xiaoxiitem.id+"&type="+xiaoxiitem.type'>
							<div class="weui-form-preview__bd">
								<div class="weui-form-preview__item">
									<label v-if="xiaoxiitem.shenhejieguo=='0'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: #999; font-weight: bolder;">预约挂号未审核</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='1'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约挂号成功</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='2'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: red; font-weight: bolder;">预约挂号失败</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='3'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约挂号用户取消</label>
									<span v-if="xiaoxiitem.yuedu=='已读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: green;">已读</span>
									<span v-else-if="xiaoxiitem.yuedu=='未读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: red;">未读</span>
									<span class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 30px; line-height: 100px; text-align: center;"
										v-html="xiaoxiitem.chuangjianshijian"></span>
								</div>
								<div class="weui-form-preview__item">
									<span class="weui-form-preview__value"
										style="max-height: 200px; line-height: 100px; font-size: 40px; text-align: left; color: #555; overflow: hidden;"
										v-html="xiaoxiitem.neirong"></span>
								</div>
							</div>
						</a>
					</div>
					<div v-if="xiaoxiitem.type=='guahao'&&xiaoxiitem.shenhejieguo=='1'"
						style="background: url('../../image/yycg1.png') no-repeat right;">
						<a
							:href='"../../homepage/wodexiaoxi_edit.html?id="+xiaoxiitem.id+"&type="+xiaoxiitem.type'>

							<div class="weui-form-preview__bd">
								<div class="weui-form-preview__item">
									<label v-if="xiaoxiitem.shenhejieguo=='0'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: #999; font-weight: bolder;">预约挂号未审核</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='1'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约挂号成功</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='2'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: red; font-weight: bolder;">预约挂号失败</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='3'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约挂号用户取消</label>
									<span v-if="xiaoxiitem.yuedu=='已读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: green;">已读</span>
									<span v-else-if="xiaoxiitem.yuedu=='未读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: red;">未读</span>
									<span class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 30px; line-height: 100px; text-align: center;"
										v-html="xiaoxiitem.chuangjianshijian"></span>
								</div>
								<div class="weui-form-preview__item">
									<span class="weui-form-preview__value"
										style="max-height: 200px; line-height: 100px; font-size: 40px; text-align: left; color: #555; overflow: hidden;"
										v-html="xiaoxiitem.neirong"></span>
								</div>
							</div>
						</a>
					</div>
					<div v-if="xiaoxiitem.type=='guahao'&&xiaoxiitem.shenhejieguo=='2'"
						style="background: url('../../image/yysb1.png') no-repeat right;">
						<a
							:href='"../../homepage/wodexiaoxi_edit.html?id="+xiaoxiitem.id+"&type="+xiaoxiitem.type'>

							<div class="weui-form-preview__bd">
								<div class="weui-form-preview__item">
									<label v-if="xiaoxiitem.shenhejieguo=='0'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: #999; font-weight: bolder;">预约挂号未审核</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='1'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约挂号成功</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='2'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: red; font-weight: bolder;">预约挂号失败</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='3'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约挂号用户取消</label>
									<span v-if="xiaoxiitem.yuedu=='已读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: green;">已读</span>
									<span v-else-if="xiaoxiitem.yuedu=='未读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: red;">未读</span>
									<span class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 30px; line-height: 100px; text-align: center;"
										v-html="xiaoxiitem.chuangjianshijian"></span>
								</div>
								<div class="weui-form-preview__item">
									<span class="weui-form-preview__value"
										style="max-height: 200px; line-height: 100px; font-size: 40px; text-align: left; color: #555; overflow: hidden;"
										v-html="xiaoxiitem.neirong"></span>
								</div>
							</div>
						</a>
					</div>
					<div
						v-else-if="xiaoxiitem.type=='zhuyuan'&&(xiaoxiitem.shenhejieguo=='0'||xiaoxiitem.shenhejieguo=='3')">
						<a
							:href='"../../homepage/wodexiaoxi_edit.html?id="+xiaoxiitem.id+"&type="+xiaoxiitem.type'>
							<div class="weui-form-preview__bd">
								<div class="weui-form-preview__item">
									<label v-if="xiaoxiitem.shenhejieguo=='0'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: #999; font-weight: bolder;">预约住院未审核</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='1'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约住院成功</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='2'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: red; font-weight: bolder;">预约住院失败</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='3'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约住院用户取消</label>
									<span v-if="xiaoxiitem.yuedu=='已读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: green;">已读</span>
									<span v-else-if="xiaoxiitem.yuedu=='未读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: red;">未读</span>
									<span class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 30px; line-height: 100px; text-align: center;"
										v-html="xiaoxiitem.chuangjianshijian"></span>
								</div>
								<div class="weui-form-preview__item">
									<span class="weui-form-preview__value"
										style="max-height: 200px; line-height: 100px; font-size: 40px; text-align: left; color: #555; overflow: hidden;"
										v-html="xiaoxiitem.neirong"></span>
								</div>
							</div>
						</a>
					</div>
					<div
						v-else-if="xiaoxiitem.type=='zhuyuan'&&xiaoxiitem.shenhejieguo=='1'"
						style="background: url('../../image/yycg1.png') no-repeat right;">
						<a
							:href='"../../homepage/wodexiaoxi_edit.html?id="+xiaoxiitem.id+"&type="+xiaoxiitem.type'>
							<div class="weui-form-preview__bd">
								<div class="weui-form-preview__item">
									<label v-if="xiaoxiitem.shenhejieguo=='0'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: #999; font-weight: bolder;">预约住院未审核</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='1'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约住院成功</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='2'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: red; font-weight: bolder;">预约住院失败</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='3'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约住院用户取消</label>
									<span v-if="xiaoxiitem.yuedu=='已读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: green;">已读</span>
									<span v-else-if="xiaoxiitem.yuedu=='未读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: red;">未读</span>
									<span class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 30px; line-height: 100px; text-align: center;"
										v-html="xiaoxiitem.chuangjianshijian"></span>
								</div>
								<div class="weui-form-preview__item">
									<span class="weui-form-preview__value"
										style="max-height: 200px; line-height: 100px; font-size: 40px; text-align: left; color: #555; overflow: hidden;"
										v-html="xiaoxiitem.neirong"></span>
								</div>
							</div>
						</a>
					</div>
					<div
						v-else-if="xiaoxiitem.type=='zhuyuan'&&xiaoxiitem.shenhejieguo=='2'"
						style="background: url('../../image/yysb1.png') no-repeat right;">
						<a
							:href='"../../homepage/wodexiaoxi_edit.html?id="+xiaoxiitem.id+"&type="+xiaoxiitem.type'>
							<div class="weui-form-preview__bd">
								<div class="weui-form-preview__item">
									<label v-if="xiaoxiitem.shenhejieguo=='0'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: #999; font-weight: bolder;">预约住院未审核</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='1'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约住院成功</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='2'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: red; font-weight: bolder;">预约住院失败</label>
									<label v-else-if="xiaoxiitem.shenhejieguo=='3'"
										class="weui-form-preview__label"
										style="font-size: 50px; color: green; font-weight: bolder;">预约住院用户取消</label>
									<span v-if="xiaoxiitem.yuedu=='已读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: green;">已读</span>
									<span v-else-if="xiaoxiitem.yuedu=='未读'"
										class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 40px; line-height: 100px; text-align: center; color: red;">未读</span>
									<span class="weui-form-preview__value"
										style="width: 200px; float: right; margin-left: 30px; font-size: 30px; line-height: 100px; text-align: center;"
										v-html="xiaoxiitem.chuangjianshijian"></span>
								</div>
								<div class="weui-form-preview__item">
									<span class="weui-form-preview__value"
										style="max-height: 200px; line-height: 100px; font-size: 40px; text-align: left; color: #555; overflow: hidden;"
										v-html="xiaoxiitem.neirong"></span>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>


		<div id="js_toast" style="display: none; width: 500px; height: 500px;">
			<div class="weui-mask_transparent"></div>
			<div class="weui-toast" style="width: 500px; height: 500px;">
				<i class="weui-icon-success-no-circle weui-icon_toast"
					style="width: 200px; height: 200px;"></i>
				<p class="weui-toast__content" style="font-size: 50px;">取消成功</p>
			</div>
		</div>


	</div>
</body>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/vue.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../../js/vue-resource.min.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../../js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../../js/layer/layer.js"></script>
<link rel="stylesheet" href="../../css/weui.css" />
<link href="../../css/phone/homepage.css?ver=1.7" rel="stylesheet"
	type="text/css"></link>
<script src="../../js/phone/homepage/wodexiaoxi_list.js?ver=1.9"></script>

</html>