<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="../../css/phone/homepage.css?ver=1.2" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="../../css/weui.css"/>
<title>智慧诊疗</title>
</head>
<body>
	
	<div class="container">
		<div class="top">
			智慧诊疗
		</div>
		
		<div class="page" style="margin-top: 200px;">
			<div style="background-color: #f3f3f3;height: 80px;line-height: 80px;font-size: 36px;font-weight: 600;">
		 		&emsp;实用小工具
		 	</div>
		 	
			<div class="weui-grids" style="margin-top: 30px;">
			      <a href="../../homepage/zhzl_yingyangguanli.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">营养管理</p>
			      </a>
			      
			      <a href="../../homepage/zhzl_tbmj.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">体表面积</p>
			      </a>
			      <a href="../../homepage/zhzl_njg.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 27%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">尿钙/尿肌酐</p>
			      </a>
			      <a href="../../homepage/zhzl_eGFR.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">eGFR</p>
			      </a>
			      <a href="../../homepage/zhzl_gns.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">高尿酸血症</p>
			      </a>
			      <a href="../../homepage/zhzl_sle.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 27%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">SLE-DAS</p>
			      </a>
			      
			</div>		
		</div>
		
	</div>
</body>
</html>