<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jjjf.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="jjjf.model.Dept" >
    <id column="deptid" property="deptid" jdbcType="VARCHAR" />
    <result column="deptname" property="deptname" jdbcType="VARCHAR" />
    <result column="depttype" property="depttype" jdbcType="VARCHAR" />
    <result column="shangjideptid" property="shangjideptid" jdbcType="VARCHAR" />
    <result column="sequencecode" property="sequencecode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="TIMESTAMP" />
    <result column="zhuangtai" property="zhuangtai" jdbcType="INTEGER" />
  </resultMap>
  <select id="findDanweiByzhuangtai" resultMap="BaseResultMap">

  select * from Dept
where zhuangtai=100

LIMIT #{startindex},#{pagesize}

  </select>

  <select id="getCountByzhuangtai" resultType="Object">
  select count(*) from Dept
where zhuangtai=100


  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    deptid, deptname, depttype, shangjideptid, sequencecode, creator, createtime, modifier, 
    lastupdatetime, zhuangtai
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="jjjf.model.DeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dept
    where deptid = #{deptid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dept
    where deptid = #{deptid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jjjf.model.DeptExample" >
    delete from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jjjf.model.Dept" >
    insert into dept (deptid, deptname, depttype, 
      shangjideptid, sequencecode, creator, 
      createtime, modifier, lastupdatetime, 
      zhuangtai)
    values (#{deptid,jdbcType=VARCHAR}, #{deptname,jdbcType=VARCHAR}, #{depttype,jdbcType=VARCHAR}, 
      #{shangjideptid,jdbcType=VARCHAR}, #{sequencecode,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{lastupdatetime,jdbcType=TIMESTAMP}, 
      #{zhuangtai,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="jjjf.model.Dept" >
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="deptname != null" >
        deptname,
      </if>
      <if test="depttype != null" >
        depttype,
      </if>
      <if test="shangjideptid != null" >
        shangjideptid,
      </if>
      <if test="sequencecode != null" >
        sequencecode,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
      <if test="zhuangtai != null" >
        zhuangtai,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptid != null" >
        #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="depttype != null" >
        #{depttype,jdbcType=VARCHAR},
      </if>
      <if test="shangjideptid != null" >
        #{shangjideptid,jdbcType=VARCHAR},
      </if>
      <if test="sequencecode != null" >
        #{sequencecode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuangtai != null" >
        #{zhuangtai,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jjjf.model.DeptExample" resultType="java.lang.Integer" >
    select count(*) from dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dept
    <set >
      <if test="record.deptid != null" >
        deptid = #{record.deptid,jdbcType=VARCHAR},
      </if>
      <if test="record.deptname != null" >
        deptname = #{record.deptname,jdbcType=VARCHAR},
      </if>
      <if test="record.depttype != null" >
        depttype = #{record.depttype,jdbcType=VARCHAR},
      </if>
      <if test="record.shangjideptid != null" >
        shangjideptid = #{record.shangjideptid,jdbcType=VARCHAR},
      </if>
      <if test="record.sequencecode != null" >
        sequencecode = #{record.sequencecode,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.lastupdatetime != null" >
        lastupdatetime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zhuangtai != null" >
        zhuangtai = #{record.zhuangtai,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dept
    set deptid = #{record.deptid,jdbcType=VARCHAR},
      deptname = #{record.deptname,jdbcType=VARCHAR},
      depttype = #{record.depttype,jdbcType=VARCHAR},
      shangjideptid = #{record.shangjideptid,jdbcType=VARCHAR},
      sequencecode = #{record.sequencecode,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      lastupdatetime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      zhuangtai = #{record.zhuangtai,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jjjf.model.Dept" >
    update dept
    <set >
      <if test="deptname != null" >
        deptname = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="depttype != null" >
        depttype = #{depttype,jdbcType=VARCHAR},
      </if>
      <if test="shangjideptid != null" >
        shangjideptid = #{shangjideptid,jdbcType=VARCHAR},
      </if>
      <if test="sequencecode != null" >
        sequencecode = #{sequencecode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuangtai != null" >
        zhuangtai = #{zhuangtai,jdbcType=INTEGER},
      </if>
    </set>
    where deptid = #{deptid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jjjf.model.Dept" >
    update dept
    set deptname = #{deptname,jdbcType=VARCHAR},
      depttype = #{depttype,jdbcType=VARCHAR},
      shangjideptid = #{shangjideptid,jdbcType=VARCHAR},
      sequencecode = #{sequencecode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      zhuangtai = #{zhuangtai,jdbcType=INTEGER}
    where deptid = #{deptid,jdbcType=VARCHAR}
  </update>
</mapper>