<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jjjf.dao.JingfeiyusuanMapper" >
  <resultMap id="BaseResultMap" type="jjjf.model.Jingfeiyusuan" >
    <id column="jingfeiyuansuanid" property="jingfeiyuansuanid" jdbcType="VARCHAR" />
    <result column="xiangmuid" property="xiangmuid" jdbcType="VARCHAR" />
    <result column="jingfeixiadaqingkuang" property="jingfeixiadaqingkuang" jdbcType="VARCHAR" />
    <result column="yusuanniandu" property="yusuanniandu" jdbcType="VARCHAR" />
    <result column="lianbaojingfeizhibiao" property="lianbaojingfeizhibiao" jdbcType="DOUBLE" />
    <result column="zhongxinjingfeizhibiao" property="zhongxinjingfeizhibiao" jdbcType="DOUBLE" />
    <result column="zhongxinyuliujine" property="zhongxinyuliujine" jdbcType="DOUBLE" />
    <result column="zhongxinkuaijihao" property="zhongxinkuaijihao" jdbcType="DOUBLE" />
    <result column="chengshoujingfeidanwei" property="chengshoujingfeidanwei" jdbcType="VARCHAR" />
    <result column="jingfeikemu" property="jingfeikemu" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="TIMESTAMP" />
    <result column="zhuangtai" property="zhuangtai" jdbcType="INTEGER" />
  </resultMap>

  <select id="findJinagfeiyusuanBydeptId" resultType="Map">
    SELECT xm.xiangmuid,xm.xiangmuname,ys.jingfeiyuansuanid,ys.jingfeixiadaqingkuang,ys.yusuanniandu,
    ys.lianbaojingfeizhibiao,ys.zhongxinjingfeizhibiao,ys.zhongxinyuliujine,ys.zhongxinkuaijihao,
    ys.chengshoujingfeidanwei,ys.jingfeikemu
    from junjianxiangmu xm
    left join jingfeiyusuan ys on ys.xiangmuid=xm.xiangmuid
    where 1=1

    <if test="xiangmuname != ''">
      and xiangmuname like #{xiangmuname}
    </if>

    <if test='deptid != "1"'>
      and xm.jieshoudanweiid=#{deptid}
    </if>
    order by xm.xiangmuname
    LIMIT #{startindex},#{pagesize}

  </select>


  <select id="getCountBydeptId" resultType="Object">

    SELECT count(*)  from junjianxiangmu xm
    left join jingfeiyusuan ys on ys.xiangmuid=xm.xiangmuid
    where 1=1

    <if test="xiangmuname != ''">
      and xiangmuname like #{xiangmuname}
    </if>

    <if test='deptid != "1"'>
      and xm.jieshoudanweiid=#{deptid}
    </if>
    order by xm.xiangmuname

  </select>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    jingfeiyuansuanid, xiangmuid, jingfeixiadaqingkuang, yusuanniandu, lianbaojingfeizhibiao, 
    zhongxinjingfeizhibiao, zhongxinyuliujine, zhongxinkuaijihao, chengshoujingfeidanwei, 
    jingfeikemu, creater, createtime, modifier, lastupdatetime, zhuangtai
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="jjjf.model.JingfeiyusuanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jingfeiyusuan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jingfeiyusuan
    where jingfeiyuansuanid = #{jingfeiyuansuanid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jingfeiyusuan
    where jingfeiyuansuanid = #{jingfeiyuansuanid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jjjf.model.JingfeiyusuanExample" >
    delete from jingfeiyusuan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jjjf.model.Jingfeiyusuan" >
    insert into jingfeiyusuan (jingfeiyuansuanid, xiangmuid, jingfeixiadaqingkuang, 
      yusuanniandu, lianbaojingfeizhibiao, zhongxinjingfeizhibiao, 
      zhongxinyuliujine, zhongxinkuaijihao, chengshoujingfeidanwei, 
      jingfeikemu, creater, createtime, 
      modifier, lastupdatetime, zhuangtai
      )
    values (#{jingfeiyuansuanid,jdbcType=VARCHAR}, #{xiangmuid,jdbcType=VARCHAR}, #{jingfeixiadaqingkuang,jdbcType=VARCHAR}, 
      #{yusuanniandu,jdbcType=VARCHAR}, #{lianbaojingfeizhibiao,jdbcType=DOUBLE}, #{zhongxinjingfeizhibiao,jdbcType=DOUBLE}, 
      #{zhongxinyuliujine,jdbcType=DOUBLE}, #{zhongxinkuaijihao,jdbcType=DOUBLE}, #{chengshoujingfeidanwei,jdbcType=VARCHAR}, 
      #{jingfeikemu,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{lastupdatetime,jdbcType=TIMESTAMP}, #{zhuangtai,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="jjjf.model.Jingfeiyusuan" >
    insert into jingfeiyusuan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jingfeiyuansuanid != null" >
        jingfeiyuansuanid,
      </if>
      <if test="xiangmuid != null" >
        xiangmuid,
      </if>
      <if test="jingfeixiadaqingkuang != null" >
        jingfeixiadaqingkuang,
      </if>
      <if test="yusuanniandu != null" >
        yusuanniandu,
      </if>
      <if test="lianbaojingfeizhibiao != null" >
        lianbaojingfeizhibiao,
      </if>
      <if test="zhongxinjingfeizhibiao != null" >
        zhongxinjingfeizhibiao,
      </if>
      <if test="zhongxinyuliujine != null" >
        zhongxinyuliujine,
      </if>
      <if test="zhongxinkuaijihao != null" >
        zhongxinkuaijihao,
      </if>
      <if test="chengshoujingfeidanwei != null" >
        chengshoujingfeidanwei,
      </if>
      <if test="jingfeikemu != null" >
        jingfeikemu,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
      <if test="zhuangtai != null" >
        zhuangtai,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jingfeiyuansuanid != null" >
        #{jingfeiyuansuanid,jdbcType=VARCHAR},
      </if>
      <if test="xiangmuid != null" >
        #{xiangmuid,jdbcType=VARCHAR},
      </if>
      <if test="jingfeixiadaqingkuang != null" >
        #{jingfeixiadaqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="yusuanniandu != null" >
        #{yusuanniandu,jdbcType=VARCHAR},
      </if>
      <if test="lianbaojingfeizhibiao != null" >
        #{lianbaojingfeizhibiao,jdbcType=DOUBLE},
      </if>
      <if test="zhongxinjingfeizhibiao != null" >
        #{zhongxinjingfeizhibiao,jdbcType=DOUBLE},
      </if>
      <if test="zhongxinyuliujine != null" >
        #{zhongxinyuliujine,jdbcType=DOUBLE},
      </if>
      <if test="zhongxinkuaijihao != null" >
        #{zhongxinkuaijihao,jdbcType=DOUBLE},
      </if>
      <if test="chengshoujingfeidanwei != null" >
        #{chengshoujingfeidanwei,jdbcType=VARCHAR},
      </if>
      <if test="jingfeikemu != null" >
        #{jingfeikemu,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuangtai != null" >
        #{zhuangtai,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jjjf.model.JingfeiyusuanExample" resultType="java.lang.Integer" >
    select count(*) from jingfeiyusuan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jingfeiyusuan
    <set >
      <if test="record.jingfeiyuansuanid != null" >
        jingfeiyuansuanid = #{record.jingfeiyuansuanid,jdbcType=VARCHAR},
      </if>
      <if test="record.xiangmuid != null" >
        xiangmuid = #{record.xiangmuid,jdbcType=VARCHAR},
      </if>
      <if test="record.jingfeixiadaqingkuang != null" >
        jingfeixiadaqingkuang = #{record.jingfeixiadaqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="record.yusuanniandu != null" >
        yusuanniandu = #{record.yusuanniandu,jdbcType=VARCHAR},
      </if>
      <if test="record.lianbaojingfeizhibiao != null" >
        lianbaojingfeizhibiao = #{record.lianbaojingfeizhibiao,jdbcType=DOUBLE},
      </if>
      <if test="record.zhongxinjingfeizhibiao != null" >
        zhongxinjingfeizhibiao = #{record.zhongxinjingfeizhibiao,jdbcType=DOUBLE},
      </if>
      <if test="record.zhongxinyuliujine != null" >
        zhongxinyuliujine = #{record.zhongxinyuliujine,jdbcType=DOUBLE},
      </if>
      <if test="record.zhongxinkuaijihao != null" >
        zhongxinkuaijihao = #{record.zhongxinkuaijihao,jdbcType=DOUBLE},
      </if>
      <if test="record.chengshoujingfeidanwei != null" >
        chengshoujingfeidanwei = #{record.chengshoujingfeidanwei,jdbcType=VARCHAR},
      </if>
      <if test="record.jingfeikemu != null" >
        jingfeikemu = #{record.jingfeikemu,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.lastupdatetime != null" >
        lastupdatetime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zhuangtai != null" >
        zhuangtai = #{record.zhuangtai,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jingfeiyusuan
    set jingfeiyuansuanid = #{record.jingfeiyuansuanid,jdbcType=VARCHAR},
      xiangmuid = #{record.xiangmuid,jdbcType=VARCHAR},
      jingfeixiadaqingkuang = #{record.jingfeixiadaqingkuang,jdbcType=VARCHAR},
      yusuanniandu = #{record.yusuanniandu,jdbcType=VARCHAR},
      lianbaojingfeizhibiao = #{record.lianbaojingfeizhibiao,jdbcType=DOUBLE},
      zhongxinjingfeizhibiao = #{record.zhongxinjingfeizhibiao,jdbcType=DOUBLE},
      zhongxinyuliujine = #{record.zhongxinyuliujine,jdbcType=DOUBLE},
      zhongxinkuaijihao = #{record.zhongxinkuaijihao,jdbcType=DOUBLE},
      chengshoujingfeidanwei = #{record.chengshoujingfeidanwei,jdbcType=VARCHAR},
      jingfeikemu = #{record.jingfeikemu,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      lastupdatetime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      zhuangtai = #{record.zhuangtai,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jjjf.model.Jingfeiyusuan" >
    update jingfeiyusuan
    <set >
      <if test="xiangmuid != null" >
        xiangmuid = #{xiangmuid,jdbcType=VARCHAR},
      </if>
      <if test="jingfeixiadaqingkuang != null" >
        jingfeixiadaqingkuang = #{jingfeixiadaqingkuang,jdbcType=VARCHAR},
      </if>
      <if test="yusuanniandu != null" >
        yusuanniandu = #{yusuanniandu,jdbcType=VARCHAR},
      </if>
      <if test="lianbaojingfeizhibiao != null" >
        lianbaojingfeizhibiao = #{lianbaojingfeizhibiao,jdbcType=DOUBLE},
      </if>
      <if test="zhongxinjingfeizhibiao != null" >
        zhongxinjingfeizhibiao = #{zhongxinjingfeizhibiao,jdbcType=DOUBLE},
      </if>
      <if test="zhongxinyuliujine != null" >
        zhongxinyuliujine = #{zhongxinyuliujine,jdbcType=DOUBLE},
      </if>
      <if test="zhongxinkuaijihao != null" >
        zhongxinkuaijihao = #{zhongxinkuaijihao,jdbcType=DOUBLE},
      </if>
      <if test="chengshoujingfeidanwei != null" >
        chengshoujingfeidanwei = #{chengshoujingfeidanwei,jdbcType=VARCHAR},
      </if>
      <if test="jingfeikemu != null" >
        jingfeikemu = #{jingfeikemu,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuangtai != null" >
        zhuangtai = #{zhuangtai,jdbcType=INTEGER},
      </if>
    </set>
    where jingfeiyuansuanid = #{jingfeiyuansuanid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jjjf.model.Jingfeiyusuan" >
    update jingfeiyusuan
    set xiangmuid = #{xiangmuid,jdbcType=VARCHAR},
      jingfeixiadaqingkuang = #{jingfeixiadaqingkuang,jdbcType=VARCHAR},
      yusuanniandu = #{yusuanniandu,jdbcType=VARCHAR},
      lianbaojingfeizhibiao = #{lianbaojingfeizhibiao,jdbcType=DOUBLE},
      zhongxinjingfeizhibiao = #{zhongxinjingfeizhibiao,jdbcType=DOUBLE},
      zhongxinyuliujine = #{zhongxinyuliujine,jdbcType=DOUBLE},
      zhongxinkuaijihao = #{zhongxinkuaijihao,jdbcType=DOUBLE},
      chengshoujingfeidanwei = #{chengshoujingfeidanwei,jdbcType=VARCHAR},
      jingfeikemu = #{jingfeikemu,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      lastupdatetime = #{lastupdatetime,jdbcType=TIMESTAMP},
      zhuangtai = #{zhuangtai,jdbcType=INTEGER}
    where jingfeiyuansuanid = #{jingfeiyuansuanid,jdbcType=VARCHAR}
  </update>
</mapper>