<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改密码</title>
<link href="../../css/phone/homepage.css?ver=1.3" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="../../css/weui.css"/>
</head>
<body>
	<div class="bg">
		<img src="../../image/index_bg2.png" width=100% height=100%/>
	</div>
	<div class="container" id="modifypas">
		<input type="hidden" th:value="${UserType}" id="usertype">
		<input type="hidden" th:value="${UserId}" id="userid">
	
		<div class="top">
			修改密码
		</div>
		<div style="width:90%;height:1000px;margin:50px auto;">
			<div class="manage_title">儿童肾病诊疗中心</div>
			
			<div class="input_div">
				<input type="number" pattern="[0-9]*" placeholder="请输入登录账号" class="input" v-model="shoujihaoma"/>
				
				<input type="number" pattern="[0-9]*" placeholder="请输入6位数字的新密码" class="input" v-model="password"/>
			
				<button class="button" @click="toModifyPassword()">确认修改</button>
								
				
				<div id="message">
				</div>
				
				<!-- 修改成功提示 -->
				<div id="js_toast" style="display: none;width:500px;height:500px;">
					<div class="weui-mask_transparent"></div>
					<div class="weui-toast" style="width:500px;height:500px;">
						<i class="weui-icon-success-no-circle weui-icon_toast" style="width:200px;height:200px;"></i>
						<p class="weui-toast__content" style="font-size:50px;">修改成功</p>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
</body>

<script type="text/javascript" charset="utf-8" src="../../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/vue.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/vue-resource.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" charset="utf-8" src="../../js/layer/layer.js"></script>

<script src="../../js/phone/manage/modifyPassword.js?ver=1.9"></script>

</html>