<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public::head('经费预算下达情况')">

</head>
<body>

<div class="container-fluid">

    <input type="hidden" th:value="${AdminID}" id="adminid">
    <input type="hidden" th:value="${DeptID}" id="deptid">
    <!-- 内容 -->
    <div id="Jingfeiyusuan" class="main">


        <div class="primary-title">
            经费预算下达情况<!--<span class="btn btn-success" style="float: right; margin-right: 15px; margin-top: 10px;" @click="toAdd()">新增</span>-->
        </div>
        <div class="primary-content" >

            <div style="margin-top:15px;text-align: center;">
                <label  style="margin-left: 20px;">项目名称：</label><input type="text" class="form-control" style="width: 150px;display:inline-block;"  v-model="xiangmutext"  >
                <button class="btn btn-info" @click="bindJingfeiyusuanList()" style="margin-left:15px;">查询</button>
            </div>

            <div class="table-responsive" style="overflow:inherit;margin-top:40px;">

                <!-- 列表 -->
                <table class="table table-hover table-striped" >
                    <thead>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">序号</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">项目名称</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">两级经费下达情况</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">预算年度</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">联保下达经费指标</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">中心下达经费指标</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">中心预留预备费</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">中心会计账凭证号</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">承受经费指标单位名称</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">经费科目</th>
                    <th style="text-align:center;vertical-align:middle;width: 150px;">操作</th>

                    </thead>
                    <tbody>
                   <tr v-for="(jingfeiitem,index) in jingfeilist" v-if="show">

                        <td style="text-align:center;vertical-align:middle;" v-text="index+1+(pageIndex-1)*pageSize"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.xiangmuname"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.jingfeixiadaqingkuang"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.yusuanniandu"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.lianbaojingfeizhibiao"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.zhongxinjingfeizhibiao"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.zhongxinyuliujine"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.zhongxinkuaijihao"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.chengshoujingfeidanwei"></td>
                        <td style="text-align:center;vertical-align:middle;" v-text="jingfeiitem.jingfeikemu"></td>
                        <td style="text-align:center;vertical-align:middle;">


                            <button class="btn btn-success" v-if="jingfeiitem.jingfeiyuansuanid==null" @click="toAdd(jingfeiitem.xiangmuname,jingfeiitem.xiangmuid)">新 增</button>
                            <button class="btn btn-primary" v-if="jingfeiitem.jingfeiyuansuanid!=null" @click="perpareToModifyJingfei(jingfeiitem.xiangmuname,jingfeiitem.jingfeiyuansuanid,jingfeiitem.xiangmuid)">编 辑</button>
                            <button class="btn btn-danger" v-if="jingfeiitem.jingfeiyuansuanid!=null" @click="toDelete(jingfeiitem.jingfeiyuansuanid)">删 除</button>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <div v-if="!show" style="text-align:center;width:100%;">暂无下达项目数据</div>
                <div v-if="show" class="my-page-navigation">
                    <button class="btn btn-default" v-on:click="SetPageIndex">首页</button>
                    <button class="btn btn-default" v-on:click="SetPageIndexPrePage">上一页</button>
                    <span v-text="pageIndex + '  /  ' + pageCount"></span>
                    <span v-text="'共' + recordCount + '条'"></span>
                    <button class="btn btn-default" v-on:click="SetPageIndexNextPage">下一页</button>
                    <button class="btn btn-default" v-on:click="SetPageEnd">尾页</button>
                    <span>跳到第</span>
                    <input type="text" class="form-control" style="width: 80px;display:inline-block;"  v-model="inputPageIndexValue" v-on:keyup.enter="JumpPage">
                    <span>页</span>
                    <button class="btn btn-default" v-on:click="JumpPage">跳</button>
                </div>

                <div th:replace="gongchengguanli/jingfeiyusuan_edit::editJingfeiyusuan"></div>


            </div>
        </div>



    </div>


</div>


</body>
<script src="../js/gongchengguanli/jingfeiyusuan_list.js?ver=1.8"></script>
<link href="../css/main.css?ver=1.0" rel="stylesheet" type="text/css"></link>
<link href="../css/dashboard.css?ver=1.1" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="/css/xadmin.css?ver=0.6">
</html>