<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="public::head('项目上传管理')">
<meta charset="UTF-8">
</head>
<body>
	<div >
		<div class="main" id="paichugaoxiao">
			<div id="uploadModal" style="" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h4 class="modal-title" id="uploadModalLabel" style="">

							</h4>
						</div>
						<div class="modal-body" style="overflow:auto;">
							<div id="uploadModalPart" style="">
								<div class="weui-uploader__bd">
									<!-- 放置上传上来的文件，里面拼接li -->
									<ul class="weui-uploader__files" id="uploaderFiles">

									</ul>
									<input type="text" class="form-control" id="imageurl" >
									<div id="filelist" ></div>
									<div class="weui-uploader__input-box" id="container" style="width:200px;height:200px;margin-left:10px;">
										<input id="pickfiles" class="btn btn-lg btn-success" type="file" value="选择文件" style="width: 110px;" />
									</div>
									<div id="UploadedFiles"></div>
								</div>
							</div>
							<span class="btn btn-success" style="float: right; margin-right: 15px; margin-top: 10px;" @click="getValue()">确定上传</span>
							<span class="btn btn-success" style="float: right; margin-right: 15px; margin-top: 10px;" @click="backup()">确定备份</span>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>

			<div id="XiangmuListModal" style="" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
				 aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog modal-md" style="width: 1000px;height:400px;">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true" @click="close()">&times;</button>
							<h4 class="modal-title">查看项目名单</h4>
						</div>

						<div class="modal-body" style="height: 400px;overflow: scroll;">
							<table class="table table-hover table-striped" style="margin: 0 auto;" id="list_gaoxiao">

								<thead>
								<th style="text-align: center; vertical-align: middle;width:50px;">序号</th>
								<th style="text-align: center; vertical-align: middle;width:80px;">项目名称</th>
								<th style="text-align: center; vertical-align: middle;">两级批复情况</th>
								<th style="text-align: center; vertical-align: middle;">联保批复金额</th>
								<th style="text-align: center; vertical-align: middle;width:100px;">导入状态</th>
								<th style="text-align: center; vertical-align: middle;width:100px;">操作</th>
								</thead>

								<tbody>
								<tr v-for="xiangmu in xiangmulist">
									<td style="text-align: center; vertical-align: middle;"
										v-text="xiangmu.序号"></td>
									<td name="guojiamingcheng" style="text-align: center; vertical-align: middle;"
										v-text="xiangmu.项目名称"></td>
									<td name="zhongwenmingcheng" style="text-align: center; vertical-align: middle;"
										v-text="xiangmu.两级批复情况"></td>
									<td name="yingwenmingcheng" style="text-align: center; vertical-align: middle;"
										v-text="xiangmu.联保批复金额"></td>
									<td style="text-align: center; vertical-align: middle;"
										class="daoruzhuangtai" :id="xiangmu.序号"></td>
									<td style="text-align: center; vertical-align: middle;">
										<button class="btn btn-sm btn-primary"  @click="dangedaoru(xiangmu)">导入</button>
									</td>
								</tr>
								</tbody>

							</table>

						</div>
						<div style="width:100%;height:100px;text-align:center;">
							<button id="daoru" class="btn btn-lg btn-info" style="margin-top:30px;" v-on:click="importGaoxiao()">批量导入</button>
						</div>

					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			<!--<div th:replace="guojijiaoliu/manage/paichugaoxiaolist::edits"></div>-->
			<div class="primary-title">
				项目名单管理
				
				<div style="float: right;margin-bottom: 20px;padding-right:15px;">
					<button class="btn btn-lm btn-primary" @click="showUploadXls()">上传项目名单</button>
				</div>
			</div>
			<!--<div class="primary-content">
				<table class="table table-hover table-striped" >
					<thead>
						<th style="text-align: center; vertical-align: middle;width:50px;">序号</th>
							<th style="text-align: center; vertical-align: middle;width:80px;">国家</th>
							<th style="text-align: center; vertical-align: middle;">学校英文名称</th>
					</thead>
					<tbody>
						<tr v-for="(xianyougaoxiao,index) in xianyougaoxiaolist" v-if="xianyougaoxiaolist.length > 0">
							<td style="text-align: center; vertical-align: middle;"
										v-text="index+1"></td>
							<td name="guojiamingcheng" style="text-align: center; vertical-align: middle;" v-text="xianyougaoxiao.国家名称">
							<td name="yingwenmingcheng" style="text-align: center; vertical-align: middle;" v-text="xianyougaoxiao.学校名称_英文"></td>
						</tr>
						<tr v-if="xianyougaoxiaolist.length == 0">
							<td style="text-align: center; vertical-align: middle;" colspan="8">查无数据</td>
						</tr>
					</tbody>
				</table>
			</div>-->
		</div>

		<script type="text/javascript" charset="utf-8" src="../../js/plupload/plupload.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../js/plupload/plupload.full.js"></script>
		<script src="../../js/upload_image.js?ver=0.7"></script>
		<script type="text/javascript">
			var mmImageUrls = "";
			$(function(){
				InitUpLoader();
			});
		</script>
		
		<script src="/js/gongchengguanli/shangchuanxiangmu.js?ver=1.3"></script>
	</div>
</body>
</html>