
 <!-- 模态框（Modal） -->
	<div id="uploadModal" class="modal fade bs-example-modal-lg"
					tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-md" style="width: 800px">
						<div class="modal-content" style="width: 800px">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h3 class="modal-title" id="myDetailModalLabel"></h3>
							</div>
							<div class="modal-body" id ="uploadModal-body"style="width: 800px;margin:0px auto;">
							</div>
						</div>
					</div>
	</div>